form.form-modal {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: auto;
  justify-content: center;
}

.backBtn {
  padding: 0em;
  margin: 15px;
  position: fixed;
}

.backBtn a {
  color: #fff;
}

.backBtn button{
  padding: 3px 0 0 0;
  width: 50px;
  height: 30px;
  min-width: 50px;
  min-height: 40px;
  /* background-color: #8855DD; */
  font-size: 2em;
  /* min-width: 50px; */
  /* border-radius: 50%; */
}

