div.post-modal {
	max-width: 1000px;
	margin: auto;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	padding: 1em;
	font-family: Roboto;
}
div.plx-card {
	transition: all 600ms ease;
	max-width: 1100px;
	display: flex;
	position: relative;
	overflow: hidden;
	margin: 30px 0;
	filter: drop-shadow(0 2px 1rem #112);
	border-radius: 4px;
}
.pxc-avatar {
	transition: all 600ms ease;
	display: flex;
	flex-direction: column;
	height: auto;
	width: 150px;
	justify-content: space-around;
	img {
		transition: all 600ms ease;
		width: 150px;
		height: 150px;
		border-radius: 100%;
		box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.5);
		position: relative;
		z-index: 1;
	}
}
.bronze {
	.pxc-avatar {
		img {
			width: 90px;
			height: 90px;
			top: -15px;
			left: -20px;
			position: absolute;
		}
	}
}
.pxc-bg {
	transition: all 600ms ease;
	border-radius: 2px;
	height: 100%;
	width: calc(100% - 75px);
	position: absolute;
	z-index: 0;
	pointer-events: none;
	left: 75px;
	background-size: cover;
	background-position: right;
	background-image: url('https://www.bates.edu/wordpress/files/2016/07/color-purple.jpg');
}
.pxc-subcard {
	transition: all 600ms ease;
	border-radius: 3px;
	background: #1D1D2B;
	width: 750px;
	margin: 25px 0px 25px -25px;
	z-index: 0;
	padding: 15px 25px 15px 40px;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.3);
	.showmore {
		text-align: center;
		width: 100px;
		border: none;
		background: transparent;
		color: #a6aad1;
		outline: none;
		cursor: pointer;
		&:hover {
			color: #ebebeb;
		}
	}
}
.pxc-stopper {
	transition: all 600ms ease;
	height: 100%;
	width: calc(60%);
	background: #FFF8;
	display: block;
	position: absolute;
	z-index: 0;
	left: 75px;
}
.pxc-tags {
	position: absolute;
	bottom: -15px;
	right: 10px;
	height: 32px;
	overflow: hidden;
	text-align: right;
	div {
		color: white;
		display: inline-block;
		background: #8855DD;
		border-radius: 12px;
		padding: 2px 10px;
		line-height: 1.7;
		margin: 4px 4px;
		font-size: 12px;
		font-weight: bold;
		height: 20px;
		letter-spacing: 1px;
	}
}
.pxc-title {
	font-size: 24px;
	margin-bottom: 4px;
	color: white;
	width: calc(100% - 50px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	flex: 0 0 auto;
}
.pxc-sub {
	font-size: 14px;
	margin: 2px 0 8px 0;
	flex: 1 1 auto;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(black 80%, transparent 100%);
	color: #a6aad1;
}
.pxc-feats {
	font-size: 13px;
	color: #a2a2b1;
	flex: 1 1 auto;
	padding-bottom: 5px;
	margin-bottom: 5px;
	line-height: 1.3;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(black 50%, transparent 100%);
	span {
		&:not(:first-child) {
			&:before {
				content: " • ";
				margin: 3px;
			}
		}
	}
}
.bottom-row {
	margin-top: 10px;
	display: grid;
	justify-items: space-around;
	align-items: center;
	.pxc-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.author {
		color: white;
		margin-left: 8px;
	}
	.lastUpdated {
		color: white;
		font-size: 8pt;
	}
}
.pxc-more {
	a {
		position: absolute;
		top: 15px;
		border-radius: 10px;
		right: 35px;
		padding: 1em;
		color: #ebebeb;
		text-decoration: none;
		font-family: Ubuntu;
		&:hover {
			background-color: #8855DD;
			background-size: 100% 100%;
			animation: spring 300ms ease-out;
		}
	}
}
.pxc-options {
	display: flex;
	justify-content: flex-end;
	right: 0;
	bottom: 10px;
	position: absolute;
	span {
		color: #8855DD;
		padding: 15px;
		.icons {
			padding: 2px;
			margin-left: 5px;
			&:hover {
				cursor: pointer;
				animation: spring 300ms ease-out;
			}
		}
	}
}
@media screen and (min-width: 700px) {
	.plx-card.gold {
		height: 280px;
	}
}
@media screen and (max-width: 700px) {
	.plx-card {
		height: auto;
		width: auto;
		flex-direction: column;
		border-radius: 2px;
		margin: 25px 15px;
	}
	.pxc-avatar {
		width: 100%;
		height: 100px;
		justify-content: space-around;
		align-items: center;
		img {
			margin-top: 100px;
		}
	}
	.pxc-bg {
		left: 0;
		top: 0;
		height: 200px;
		width: 100%;
		border-radius: 0;
	}
	.pxc-subcard {
		margin: 25px 15px 30px 15px;
		padding: 60px 25px 20px;
		width: auto;
		height: auto;
		flex: 1 0 auto;
	}
	.pxc-stopper {
		left: 0;
		width: 100%;
		top: 200px;
		height: calc(100% - 200px);
		background: white;
		border-radius: 0;
	}
	.pxc-tags {
		height: 64px;
		text-align: center;
		position: relative;
		width: 100%;
		bottom: 0;
		left: 0;
		margin-bottom: 10px;
		div {
			color: #8855DD;
			border: solid 1px #8855DD;
			background: transparent;
		}
	}
	.pxc-title {
		font-size: 16px;
		white-space: initial;
		overflow: initial;
		text-overflow: initial;
	}
	.pxc-sub {
		font-size: 13px;
	}
	.pxc-feats {
		font-size: 12px;
		margin-top: 10px;
		text-align: center;
	}
	.bottom-row {
		border-top: solid 1px rgba(255, 255, 255, 0.05);
		padding-top: 5px;
		.pxc-info {
			position: absolute;
			bottom: -28px;
			left: -10px;
			justify-content: space-between;
			width: 100%;
			.region {
				color: #112;
				font-size: 13px;
				text-transform: uppercase;
			}
		}
	}
}
@media screen and (max-width: 900px) {
	.pxc-avatar {
		img {
			width: 125px;
			height: 125px;
		}
	}
	.pxc-bg {
		left: 50px;
	}
	.pxc-subcard {
		margin-right: 120px;
		margin-left: -32px;
	}
	.pxc-stopper {
		left: 50px;
	}
}
