nav {
  width: 100%;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto;
  padding: 0.15em;
}

ul{
  text-align: center;
	display: flex;
	justify-content: space-evenly;
  list-style: none;
}

li{
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: solid 1px #8855DD;
}

li a {
  text-decoration: none;
  font-family: Roboto;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
  margin: auto;
}

li:hover {
  background-color: #8855DD;
  /* background-image: url('https://scottyzen.sirv.com/Images/v/button.png'); */
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ff7f51;
	font-weight: bold;
}

li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}