div.login-content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form.login-modal{
  align-content: center;
  font-family: Roboto;
  /* width: 20vw; */
  padding: 45px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

form.login-modal img {
  cursor: pointer;
  width: 100px;
  justify-self: center;
}

form.login-modal h1 {
  letter-spacing: 3pt;
  justify-self: center;
  grid-row: auto;
}

form.login-modal input, label, button, a, span {
  grid-column: 1;
  letter-spacing: 1pt;
}

form.login-modal span {
  margin-top: 0px;
  text-align: center;
  font-size: 10px;
  color: #ff5539;
  display: block;
}

form.login-modal button {
  grid-row: 8;
  margin-top: 15px;
}

form.login-modal label {
  text-transform: capitalize;
  font-size: 11pt;
}

form.login-modal a {
  color: #8855DD;
  margin: 20px 0 0 0 ;
  grid-row: 9;
  text-align: center;
  text-decoration: none;
}

form.login-modal a:hover {
  color: #ccc;
}

/* form.login-modal .icon {
  margin-top: 0.8em;
} */

@media only screen and (max-width: 600px) {

  form.login-modal{
    width: fit-content;
  }

  form.login-modal button{
    border: solid 1px #8855DD;
  }
}

